<div class="col-md-6 offset-md-3">
  <h3> Create Banks </h3>
  <form [formGroup]="BankGroupe" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Name Bank </label>
      <input type="text" formControlName="bank" class ="form-control" id = "NameBank"
             [(ngModel)] = "bank.nameBank" name = "Name" [ngClass]="{ 'is-invalid': submitted && f.bank.errors }">
      <div *ngIf="submitted && f.bank.errors" class="invalid-feedback">
        <div *ngIf="f.bank.errors.required">Saisir votre Bank</div>
      </div>
    </div>

    <input type="number" formControlName="taux" class ="form-control" id = "salaire"
           [(ngModel)] = "bank.interestRate" [ngClass]="{ 'is-invalid': submitted && f.taux.errors }">
    <div *ngIf="submitted && f.taux.errors" class="invalid-feedback">
      <div *ngIf="f.taux.errors.required">Saisir le Taux </div>
    </div>

    <button class = "btn btn-success" >Save</button>

  </form>
</div>
