
<div class="col-md-6 offset-md-3">
  <h3> Update Banks </h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Name Bank </label>
      <input type="text" class ="form-control" id = "NameBank"
             [(ngModel)] = "bank.nameBank" name = "Name">
    </div>
    <div class="form-group">
      <label> Taux </label>
      <input type="text" class ="form-control" id = "Taux"
             [(ngModel)] = "bank.interestRate" name = "Taux">
    </div>

    <button class = "btn btn-success" type ="submit">Save</button>

  </form>
</div>
