<div class="container">
<h2> appointment List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> title  </th>
            <th> Visibility </th>
            <th> Heure </th>
            <th>Attendance</th>
            <th>state</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let appointment of appointments" >
            <td> {{ appointment.title }} </td>
            <td> {{ appointment.visibility }} </td>
            <td> {{ appointment.heure }} </td>
            <td>{{ appointment.attendance }}</td>
            <td>{{ appointment.state }}</td>
            <td>
                <button (click) = "deleteAppointment(appointment.id_rdv)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>
</div>
