<div class="container">
    <div class="col-md-12">
      <div class="add-new">
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#addModal"
        >
          add
        </button>
      </div>
      <div class="table-responsive">
        <table
          class="table table-bordered hover table-dark ">
          <thead class="thead-default">
            <tr>
              <th>titre</th>
              <th>lieu</th>
              <th>description</th>
              <th>date debut</th>
              <th>date fin</th>
              <th>prix</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let location of locations">
              <td>{{ location.titre }}</td>
              <td>{{ location.lieu }}</td>
              <td>{{ location.description }}</td>
              <td>{{ location.dated }}</td>
              <td>{{ location.datef }}</td>
              <td>{{ location.prix }}</td>
              <td>
                <div class="btn-group">
                  <button
                    class="btn btn-secondary fa fa-pencil"
                    type="button"
                    data-toggle="modal"
                    data-target="#updateModal"
                    (click)="setLocation(location)"
                  ></button>
                  <button
                    class="btn btn-secondary fa fa-trash"
                    type="button"
                    data-toggle="modal"
                    data-target="#deleteModal"
                    (click)="setLocation(location)"
                  ></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="!locations">
              <td>
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Add Modal -->
<div
class="modal fade"
id="addModal"
tabindex="-1"
role="dialog"
aria-labelledby="addModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="addScheduleModalLabel">location</h1>
    </div>

    <div class="modal-body">
      <form #addForm="ngForm" (submit)="onAddUser(addForm)">
        <input type="text" id="id" value="0" hidden />
        <div class="form-group">
          <label for="titre">titre</label>
          <input
            type="text"
            ngModel
            name="titre"
            class="form-control"
            id="titre"
            placeholder="insert titre"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">lieu</label>
          <input
            type="text"
            ngModel
            name="lieu"
            class="form-control"
            id="lieu"
            placeholder=" lieu"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">description</label>
          <input
            type="text"
            ngModel
            name="description"
            class="form-control"
            id="description"
            placeholder=" description"
            required
          />
        </div> 
        <div class="form-group">
          <label for="date">dated</label>
          <input
            type="date"
            ngModel
            name="dated"
            class="form-control"
            id="dated"
            required
          />
        </div> 
        <div class="form-group">
            <label for="date">datef</label>
            <input
              type="date"
              ngModel
              name="datef"
              class="form-control"
              id="datef"
              required
            />
          </div>
        <div class="form-group">
          <label for="number">prix</label>
          <input
            type="number"
            ngModel
            name="prix"
            class="form-control"
            id="prix"
            required
          />
        </div>

        <div class="modal-footer">
          <button
            type="button"
            id="add-schedule-form"
            class="btn btn-secondary"
            data-dismiss="modal"
            onclick="location.reload(true)"
          >
            cancel
          </button>
          <button
            [disabled]="addForm.invalid"
            type="submit"
            class="btn btn-primary"
            onclick="location.reload(true)"
          >
            add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
  <!-- update Modal -->
  <div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="updateScheduleModalLabel">update location</h1>
      </div>
  
      <div class="modal-body">
        <form #editForm="ngForm" (submit)="onUpdate(editForm)">
          <input type="text" name="id" value="{{this.location.id}}" hidden />
          <div class="form-group">
            <label for="titre">titre</label>
            <input
              type="text"
              ngModel
              name="titre"
              class="form-control"
              value="{{this.location.titre}}"
              placeholder="insert titre"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">lieu</label>
            <input
              type="text"
              ngModel
              name="lieu"
              value="{{this.location.lieu}}"
              class="form-control"
              placeholder="lieu"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">description</label>
            <input
              type="text"
              ngModel
              name="description"
              value="{{this.location.description}}"
              class="form-control"
              placeholder="description"
              required
            />
          </div>  
          <div class="form-group">
            <label for="date">dated</label>
            <input
              type="date"
              ngModel
              name="dated"
              value="{{this.location.dated}}"
              class="form-control"
              required
            />
          </div> 
          <div class="form-group">
            <label for="date">datef</label>
            <input
              type="date"
              ngModel
              name="datef"
              value="{{this.location.datef}}"
              class="form-control"
              required
            />
          </div> 
          <div class="form-group">
            <label for="number">prix</label>
            <input
              type="number"
              ngModel
              name="prix"
              value="{{this.location.prix}}"
              class="form-control"
              required
            />
          </div> 
          <div class="modal-footer">
            <button
              type="button"
              id="add-schedule-form"
              class="btn btn-secondary"
              data-dismiss="modal"
              onclick="location.reload(true)"
            >
              cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              onclick="location.reload(true)"
            >
              update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
    <!-- delete Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">confirmation</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">confirm delete ?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              no
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="deleteLocation(location.id)"
            >
              yes
            </button>
          </div>
        </div>
      </div>
    </div>
