<div class="col-md-6 offset-md-3">
  <form [formGroup]="SimulForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Nom de Votre Bank </label>
      <select  formControlName="bank" class="form-control" [(ngModel)] = "sim.nomBank" [ngClass]="{ 'is-invalid': submitted && f.bank.errors }" >
        <option *ngFor="let item of banklist" [value]="item">{{item}}</option>
      </select>
      <div *ngIf="submitted && f.bank.errors" class="invalid-feedback">
        <div *ngIf="f.bank.errors.required">Choisissez Votre Bank</div>
      </div>
    </div>
    <div class="form-group">
      <label> Salaire </label>
      <input type="number" formControlName="salaire" class ="form-control" id = "salaire"
             [(ngModel)] = "sim.mounthlyInCame" [ngClass]="{ 'is-invalid': submitted && f.salaire.errors }">
      <div *ngIf="submitted && f.salaire.errors" class="invalid-feedback">
        <div *ngIf="f.salaire.errors.required">Tapez Votre Salaire</div>
      </div>
    </div>

    <div class="form-group">
      <label> Montant a attendre </label>
      <input type="number" formControlName="montant" class ="form-control" id = "montant"
             [(ngModel)] = "sim.montantVoudre" [ngClass]="{ 'is-invalid': submitted && f.montant.errors }">
      <div *ngIf="submitted && f.montant.errors" class="invalid-feedback">
        <div *ngIf="f.montant.errors.required">Tapez Votre Montant diseré</div>
      </div>
    </div>
    <div class="form-group">
      <label> Dureé de remboursement (en mois) </label>
      <input type="number" formControlName="duree" class ="form-control" id = "duree"
             [(ngModel)] = "sim.duree" [ngClass]="{ 'is-invalid': submitted && f.duree.errors }">
      <div *ngIf="submitted && f.duree.errors" class="invalid-feedback">
        <div *ngIf="f.duree.errors.required">Tapez la dureé de rebourssement</div>
        <div *ngIf="f.duree.errors.min">la duréé doit étre ecrite en mois avec minimum 12 mois (1 ans)  </div>
        <div *ngIf="f.duree.errors.max">la duréé doit étre ecrite en mois avec  maximum 240 mois (20 ans) </div>
      </div>
    </div>
    <button class = "btn btn-success" > Calculer</button>
    <div class="card-footer">
      <h2> mensualité  : {{result | number : '1.0-2'}}</h2>
    </div>
  </form>
</div>

