<div class="container">
    <div class="col-md-12">
      <div class="add-new">
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#addModal"
        >
          add
        </button>
      </div>
      <div class="table-responsive">
        <table
          class="table table-bordered hover table-dark ">
          <thead class="thead-default">
            <tr>
              <th>contenu</th>
              <th>object</th>
              <th>date</th>
              <th>type</th>
              <th>idLocation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reclamation of reclamations">
              <td>{{ reclamation.contenu }}</td>
              <td>{{ reclamation.object }}</td>
              <td>{{ reclamation.date }}</td>
              <td>{{ reclamation.type }}</td>
              <td>{{ reclamation.location }}</td>
              <td>
                <div class="btn-group">
                  <button
                    class="btn btn-secondary fa fa-pencil"
                    type="button"
                    data-toggle="modal"
                    data-target="#updateModal"
                    (click)="setReclamation(reclamation)"
                  ></button>
                  <button
                    class="btn btn-secondary fa fa-trash"
                    type="button"
                    data-toggle="modal"
                    data-target="#deleteModal"
                    (click)="setReclamation(reclamation)"
                  ></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="!reclamations">
              <td>
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Add Modal -->
<div
class="modal fade"
id="addModal"
tabindex="-1"
role="dialog"
aria-labelledby="addModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="addScheduleModalLabel">reclamation</h1>
    </div>

    <div class="modal-body">
      <form #addForm="ngForm" (submit)="onAddUser(addForm)">
        <input type="text" id="id" value="0" hidden />
        <div class="form-group">
          <label for="titre">contenu</label>
          <input
            type="text"
            ngModel
            name="contenu"
            class="form-control"
            id="contenu"
            placeholder="insert contenu"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">object</label>
          <input
            type="text"
            ngModel
            name="object"
            class="form-control"
            id="object"
            placeholder=" object"
            required
          />
        </div> 
        <div class="form-group">
          <label for="date">date</label>
          <input
            type="date"
            ngModel
            name="date"
            class="form-control"
            id="date"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">type</label>
          <input
            type="text"
            ngModel
            name="type"
            class="form-control"
            id="type"
            placeholder=" description"
            required
          />
        </div>
        <div class="form-group">
          <label for="location">idLocation</label>
          <input
            type="number"
            ngModel
            name="idLocation"
            class="form-control"
            id="idLocation"
            required
          />
        </div>

        <div class="modal-footer">
          <button
            type="button"
            id="add-schedule-form"
            class="btn btn-secondary"
            data-dismiss="modal"
            onclick="reclamation.reload(true)"
          >
            cancel
          </button>
          <button
            [disabled]="addForm.invalid"
            type="submit"
            class="btn btn-primary"
            onclick="reclamation.reload(true)"
          >
            add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
  <!-- update Modal -->
  <div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="updateScheduleModalLabel">update reclamation</h1>
      </div>
  
      <div class="modal-body">
        <form #editForm="ngForm" (submit)="onUpdate(editForm)">
          <input type="text" name="id" value="{{this.reclamation.id}}" hidden />
          <div class="form-group">
            <label for="contenu">contenu</label>
            <input
              type="text"
              ngModel
              name="contenu"
              class="form-control"
              value="{{this.reclamation.contenu}}"
              placeholder="insert contenu"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">object</label>
            <input
              type="text"
              ngModel
              name="object"
              value="{{this.reclamation.object}}"
              class="form-control"
              placeholder="object"
              required
            />
          </div> 
          <div class="form-group">
            <label for="date">date</label>
            <input
              type="date"
              ngModel
              name="date"
              value="{{this.reclamation.date}}"
              class="form-control"
              required
            />
          </div> 
          <div class="form-group">
            <label for="name">type</label>
            <input
              type="text"
              ngModel
              name="type"
              value="{{this.reclamation.type}}"
              class="form-control"
              placeholder="type"
              required
            />
          </div>  
          <div class="form-group">
            <label for="location">idLocation</label>
            <input
              type="number"
              ngModel
              name="idLocation"
              value="{{this.reclamation.location}}"
              class="form-control"
              required
            />
          </div> 
          <div class="modal-footer">
            <button
              type="button"
              id="add-schedule-form"
              class="btn btn-secondary"
              data-dismiss="modal"
              onclick="reclamation.reload(true)"
            >
              cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              onclick="reclamation.reload(true)"
            >
              update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
    <!-- delete Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">confirmation</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">confirm delete ?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              no
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="deleteReclamation(reclamation.id)"
            >
              yes
            </button>
          </div>
        </div>
      </div>
    </div>
